// TYPOGRAPHY
/* 
  NOTES:  
  All typography is set to a 1.250 Major-Third type-scale
*/
h1, h2, h3, h4, p, small {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  @include sans-regular;
  line-height: 1.2;
}

h1 {
  margin-top: calc(0.5 * #{$h1-font-size});
	font-size: $h1-font-size;
}

h2 {
  margin-top: calc(0.5 * #{$h2-font-size});
	font-size: $h2-font-size;
}

h3 {
  margin-top: calc(0.5 * #{$h3-font-size});
	font-size: $h3-font-size;
}

h4 {
  margin-top: calc(0.5 * #{$h4-font-size});
	font-size: $h4-font-size;
}

@media (min-width: 48rem) {
  h1 {
    margin-top: calc(0.5 * #{$h1-font-size-big});
  	font-size: $h1-font-size-big;
  }
  
  h2 {
    margin-top: calc(0.5 * #{$h2-font-size-big});
  	font-size: $h2-font-size-big;
  }
  
  h3 {
    margin-top: calc(0.5 * #{$h3-font-size-big});
  	font-size: $h3-font-size-big;
  }
  
  h4 {
    margin-top: calc(0.5 * #{$h4-font-size-big});
  	font-size: $h4-font-size-big;
  }
}

p {
  max-width: 40rem;
  margin-top: calc(0.5 * #{$p-font-size});
  margin-bottom: calc(0.5 * #{$p-font-size});
	font-size: $p-font-size;
  line-height: 1.5;
}

strong, em {display: inline;}

small {
  max-width: 40rem;
  margin-top: calc(0.5 * #{$small-font-size});
  margin-bottom: calc(0.5 * #{$small-font-size});
	font-size: $small-font-size;
	line-height: 1.5;
}

@media (min-width: 80rem) {
  p {
    margin-top: calc(0.5 * #{$p-font-size-big});
    margin-bottom: calc(0.5 * #{$p-font-size-big});
  	font-size: $p-font-size-big;
  }
  small {
    margin-top: calc(0.5 * #{$small-font-size-big});
    margin-bottom: calc(0.5 * #{$small-font-size-big});
  	font-size: $small-font-size-big;
  }
}

.visuallyhidden {display: none;}



/* HEADER SPANS */
h2 span {
  display: block;
  @include sans-bold;
  font-size: $small-font-size;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}

@media (min-width: 80rem) {
  h2 span {font-size: $small-font-size-big;}
}


// LISTS
ol, ul, dl {
  margin: 0;
  padding: 0 0 0 calc(1.5 * #{$p-font-size});
	li {
	  margin-top: calc(0.5 * #{$p-font-size});
	  margin-bottom: calc(0.5 * #{$p-font-size});
	  padding-left: calc(0.5 * #{$p-font-size});
		font-size: $p-font-size;
		line-height: 1.5;
	}
}

dl {
  padding: 0;
	dt {
	  margin-top: calc(0.5 * #{$p-font-size});
		@include sans-bold;
		font-size: $p-font-size;
		line-height: 1.5;
	}
	dd {
	  margin-bottom: calc(0.5 * #{$p-font-size});
	  margin-left: 0;
		font-size: $p-font-size;
		line-height: 1.5;
	}
}

@media (min-width: 80rem) {
  ol, ul, dl {
    padding: 0 0 0 calc(1.5 * #{$p-font-size-big});
    li {
  	  margin-top: calc(0.5 * #{$p-font-size-big});
  	  margin-bottom: calc(0.5 * #{$p-font-size-big});
  	  padding-left: calc(0.5 * #{$p-font-size-big});
  		font-size: $p-font-size-big;
    }
  }
  dl {
    dt {
  	  margin-top: calc(0.5 * #{$p-font-size-big});
  		font-size: $p-font-size-big;
    }
    dd {
      margin-bottom: calc(0.5 * #{$p-font-size-big});
      font-size: $p-font-size-big;
    }
  }
}


// TEXT LINK STYLES
a {
  @include sans-bold;
  line-height: inherit;
  text-decoration: none;
  color: $orange;
  cursor: pointer;
  @include transition(all, 0.325s, ease);
}

a:hover, a:focus {color: $green;}


// ALIGNMENT MODIFIERS
.text-center {text-align: center;}
.text-right {text-align: right;}


// MARGIN MODIFIERS
h1 + p, h2 + p, h3 + p, h4 + p,
h1 + ol, h2 + ol, h3 + ol, h4 + ol,
h1 + ul, h2 + ul, h3 + ul, h4 + ul,
h1 + dl, h2 + dl, h3 + dl, h4 + dl, {margin-top: 0;}

h1:first-child, h2:first-child, h3:first-child, h4:first-child {margin-top: 0;}